<a href="https://colab.research.google.com/github/nguyenvuloc2006-bot/2026_CSE391_66CNTT2_NguyenVuLoc/blob/main/Bai3_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from IPython.display import HTML

html_content = '''
<!DOCTYPE html>
<body>
  <table border="1" align="center">
    <thead>
      <tr>
        <td rowspan="2" colspan="2"><strong>Student</strong></td>
        <td colspan="4"><strong>Exam</strong></td>
        <td colspan="4"><strong>2nd Exam</strong></td>
        <td rowspan="2" colspan="2"><strong>Final Grade</strong></td>
      </tr>
      <tr>
        <td><strong>Q1</strong></td>
        <td><strong>Q2</strong></td>
        <td><strong>Q3</strong></td>
        <td rowspan="2"><strong>Grade</strong></td>
        <td><strong>Q1</strong></td>
        <td><strong>Q2</strong></td>
        <td><strong>Q3</strong></td>
        <td rowspan="2"><strong>Grade</strong></td>
      </tr>
      <tr>
        <td><strong>Code</strong></td>
        <td><strong>Name</strong></td>
        <td>8</td>
        <td>7</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td><strong>NR</strong></td>
        <td><strong>R</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>80549061</td>
        <td>John</td>
        <td>70%</td>
        <td>100%</td>
        <td>100%</td>
        <td>17.6</td>
        <td colspan="4"></td>
        <td>17.6</td>
        <td>18</td>
      </tr>
      <tr>
        <td>80549062</td>
        <td>Mary</td>
        <td>10%</td>
        <td>50%</td>
        <td>50%</td>
        <td>6.8</td>
        <td>100%</td>
        <td>100%</td>
        <td>50%</td>
        <td>16.5</td>
        <td>16.5</td>
        <td>17</td>
      </tr>
      <tr>
        <td>80549063</td>
        <td>Claire</td>
        <td colspan="4"></td>
        <td>50%</td>
        <td>50%</td>
        <td>10%</td>
        <td>10.0</td>
        <td>10.0</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</body>
'''

HTML(html_content)